<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/friends.css">
</head>

<body>

    <%- include('C:/Users/Hp/Desktop/Project/views/homepageNav.ejs') %>

    <% if (friendArray.length === 0) { %>
    <div class="Big" style="text-align: center;">
        <h1>No Friends Found! Follow Some People in Suggestions!</h1>
    </div>
    <% } else { %>

    <% friendArray.forEach(person => { %>
    <% if(person.coverPhoto) { %>
    <% const url = "/coverPhoto/" + person._id + "/" + person.coverPhoto %>
    <div class="All-container">
        <div class="user-profile">
            <div class="user-cover-photo"
                style="background-image: url(<%=url%>); opacity:1; background-repeat: no-repeat; background-size: contain; background-size: cover;">
            </div>
            <div class="user-info-box">
                <div class="user-profile-photo">
                    <% const proUrl = "/profilePhoto/" + person._id + "/" + person.profilePhoto %>
                    <% if(person.profilePhoto) {%>
                    <img class="user-profile-image" src="<%=proUrl%>" alt="Profile Photo">
                    <% } else { %>
                    <img class="user-profile-image" src="/assets/images/defaultProfile/defaultProfile.png"
                        alt="Profile Photo">
                    <%}%>
                </div>
                <div class="user-info">
                    <h6 style="text-transform: uppercase; max-lines: 1; text-overflow: ellipsis;"><%= person.username %>
                    </h6>
                    <a href="/Unfollow/<%= person._id %>"><button class="follow-btn"
                            data-user-id="<%= person._id %>">Unfollow</button></a>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="All-container">
        <div class="user-profile">
            <div class="user-cover-photo"
                style="background-image: url('/assets/images/defaultCover/defaultCover.jpg');  background-repeat: no-repeat; background-size: contain; background-size: cover;">
            </div>
            <div class="user-info-box">
                <div class="user-profile-photo">
                    <% const proUrl = "/profilePhoto/" + person._id + "/" + person.profilePhoto %>
                    <% if(person.profilePhoto) {%>
                    <img class="user-profile-image" src="<%=proUrl%>" alt="Profile Photo">
                    <% } else { %>
                    <img class="user-profile-image" src="/assets/images/defaultProfile/defaultProfile.png"
                        alt="Profile Photo">
                    <%}%>
                </div>
                <div class="user-info">
                    <h6 style="text-transform: uppercase; max-lines: 1; text-overflow: ellipsis;" ><%= person.username %></h6>
                    <a href="/Unfollow/<%= person._id %>">
                        <button class="follow-btn"
                            data-user-id="<%= person._id %>">Unfollow</button></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% }) %>
    <% } %>

</body>

</html>
